
/* Global
================================ */

img {
	width: 100%;
}

/* Media Queries
================================ */

@media (min-width: 768px) {

	/* Columns are 65px wide, with 20px gutters
	=========================================== */
	
	.grid-1 {
		width: 6.5%;
	}
	.grid-2 {
		width: 15%;
	}
	.grid-3 {
		width: 23.5%;
	}

	/* Clearfix
	================================ */

	.group:after {
	  content: " ";
	  display: table;
	  clear: both;
	}
}
