// @mixin roundy($radius, $color) {
// 	border-radius: $radius;
// 	border-top-right-radius: $radius * 2;
// 	border-bottom-left-radius: $radius * 2;
// 	a {
// 		color: $color;
// 	}
// }

// @mixin green_links {
// 	a {
// 		color: green;
// 		&:hover {
// 			color: blue;
// 		}
// 	}
// 	h1 {
// 		color: red;
// 	}
// }

// .box {
// 	@include roundy(4px, blue);
// }

// .button {
// 	@include roundy(2px, green);
// 	background: #345;
// }

%bar {
	height: 14px;
	font-size: 10px;
	> div {
		float: left;
		clear: none;
	}
}

.menu {
	@extend %bar;
	background: #345;
}

.nav {
	@extend %bar;
}



































